/* Universal Styles */

html {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

.fade {
    position: relative; 
    bottom: 4em;
    height: 4em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
} 

/* Header */
header {
    position: relative;
    width: 100%;
    overflow: hidden;
    border: solid;
    height: 15rem;
    background-color: rgba(0,0,0,0.2);
}

header .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

header nav {
    background-color: red;
    list-style: none;
    justify-content: center;
}

header ul {
    overflow: hidden;
    display: flex;
}

header li a {
    display: block;
    float: left;
    color: white;
    background-color: black;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 1.25rem;
    line-height: 25px;
    border-radius: 1px;
    box-shadow: inset 0 0 0 0 white;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    margin: 3rem;
}

header li a:hover {
    box-shadow: inset 150px 0 0 0 white;
    color: black;
}

/* sign-up section */
#sign-up-section {
    display: flex;
    justify-content: space-between;
}

.sign-up {
    border: solid;
    border-width: 4px;
}