/* Universal Styles */

html {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    background-color: #093697;
    width: 100%;
}

body {
    width: 100%;
}

p {
    padding: 0 1rem;
}

.center {
    text-align: center;
  }


.main-content {
    position: relative;
    width: 100%;
  }

.fade {
    position: relative; 
    bottom: 4em;
    height: 4em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
} 
.highlight {
    color: #F67a05;
}

/* Header */
header {
    position: relative;
    width: 100%;
    border: solid;
    height: 15rem;
    background-color: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    z-index: 1;
}

header .content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

header h1 {
    font-size: 2.5rem;
    margin-right: 2.5rem;
}

header nav {
    background-color: red;
    list-style: none;
    justify-content: center;
}

header ul {
    overflow: hidden;
    display: flex;
}

.covid {
    height: 20%;
}

header li a, .covid {
    float: left;
    color: white;
    background-color: black;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 1.25rem;
    border-radius: 1px;
    box-shadow: inset 0 0 0 0 white;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    margin: 1rem 3rem;
    flex-shrink: 1;
}

header li a:hover, .covid a:hover {
    box-shadow: inset 150px 0 0 0 white;
    border: solid;
    color: black;
}

header .phone-number {
    background-color: #F67a05;
    padding: 3rem;
    font-size: 1.5rem;
    border-radius: 20px 40px;
    line-height: 1.25;
    height: 50%;
    margin: auto;
    border: solid 1px black;
}

/* sign-up section */
#sign-up-section {
    margin: 0 auto;
    display: flex;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-image: url('resources/images/CI_habor.jpeg');
    background-size: cover;
    background-attachment: fixed;
    flex-shrink: 1;
}

.sign-up {
    width: 24rem;
    height: 23rem;
    margin: 3rem 0;
    border: solid;
    border-width: 4px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    align-content: center;
    flex-shrink: 1;
}

.sign-up h1 {
    padding: 0 1rem;
}

.sign-up a {
    background-color: black;
    color: white;
    display: block;
    color: white;
    background-color: black;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 1.25rem;
    line-height: 25px;
    border-radius: 1px;
    box-shadow: inset 0 0 0 0 white;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    margin: 3rem;
}

.sign-up a:hover {
    box-shadow: inset 300px 0 0 0 white;
    border: solid;
    color: black;
}

.sign-up img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 760px) {
    #sign-up-section {
        margin: 3rem 0;
        display: flex;
        width: 100%;
        justify-items: center;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        background-image: url('resources/images/CI_habor.jpeg');
        background-size: cover;
        background-attachment: fixed;
        flex-shrink: 1;
    }
}

/* Footer */
footer {
    background-color: #F67a05;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: right;
}

footer h3 {
    font-size: 1.5rem;
    text-align: center;
}

footer ul {
    display: flex;
    list-style-type: none;
}

footer ul li {
    margin: .5rem;
}

footer img {
    height: 1.5rem;
    width: 1.5rem;
}